anyio==4.8.0
pytest==8.3.4
pytest-asyncio==0.25.2
pytest-cov==6.0.0
pytest-tornasync==0.6.0.post2
pytest-trio==0.8.0
pytest-twisted==1.14.3
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
Twisted==24.11.0
coverage
cachetools